/*
ABQBitcoins.com Stylesheet
*/
/* =General
-----------------------------------------------------------------------------*/


/* =Typography
-----------------------------------------------------------------------------*/


/* =Headings
-----------------------------------------------------------------------------*/



/* =Links
-----------------------------------------------------------------------------*/




/* =Branding
-----------------------------------------------------------------------------*/




/* =Main Nav
-----------------------------------------------------------------------------*/



/* =Sub Nav
-----------------------------------------------------------------------------*/



/* =Main Content
-----------------------------------------------------------------------------*/



/* =Secondary Content
-----------------------------------------------------------------------------*/



/* =Footer
-----------------------------------------------------------------------------*/

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* End Stick Footer */

/* =End Footer
-----------------------------------------------------------------------------*/

/* =Forms
-----------------------------------------------------------------------------*/


/* =Tables
-----------------------------------------------------------------------------*/



/* =Misc 1
-----------------------------------------------------------------------------*/



/* =Misc 2
-----------------------------------------------------------------------------*/
